*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
}

.container{
    width: 100% ;
    height: auto ;
    background-color: white ;
    position: relative ;
}

.page_header{
    width: 100% ;
    height: 147px ;
    background-color: #F4F4F5;
    position: relative ;
}

.header_navbar_container{
    width: 88.8% ;
    height: 100% ;
    margin: auto ;
    position: relative ;
}

.logo_and_function{
    width: 100% ;
    height: 62px ;
    display: flex ;
    align-items: flex-end ;
}

.search{
    height: 28px ;
    width: 33.33% ;
    position: relative;
    display: flex ;
    align-items: center;
}

.search i{
    height: 28px ;
    width: 28px ;
    font-size: 24px ;
    width: auto ;
    position: absolute ;
    /* z-index: : 999 ; */
}

.search input{
    height: 38px ;
    width: 90% ;
    /* position: absolute; */
    border: none ;
    border-bottom: 1px solid black ;
    background-color: #F4F4F5 ;
    font-family: Arial, sans-serif ;
    font-size: 24px ;
    padding-left: 36px ;
    outline: none ;
}

.page_logo{
    height: 32px ;
    width: 33.33% ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px ;
    font-family: 'Times New Roman', Times, serif ;
}

.page_logo img{
    height: 16px ;
    width: 32px ;
    margin-right: 10px ;
    margin-left: 10px ;
}

.other_functions{
    height: 28px ;
    width: 33.33% ;
    display: flex ;
    /* align-items: flex-start; */
    justify-content: end;
}

.user_log_in{
    height: 100% ;
    width: 21.9% ;
    display: flex ;
    align-items: center;
    justify-content: center;
    font-family: Roboto, sans-serif ;
    font-size: 18px ;
    color: black ;
}

.user_log_in img{
    height: 24px ;
    width: 24px ;
    /* align-items: flex-start; */
    margin-right: 8px ;
}

.shopping_button{
    height: 100% ;
    width: 21.7% ;
    display: flex ;
    /* align-items: flex-start; */
    justify-content: center;
    font-family: Roboto, sans-serif ;
    color: black ;
    font-size: 18px ;
    margin-left: 20px ;
}

.shopping_button img{
    height: 24px ;
    width: 24px ;
    margin-right: 8px ;
    display: flex;
    align-items: flex-start;
}

.shopping_button p{
    display: flex;
    align-items: center;
    font-size: 18px ;
    height: 21.6px ;
}

.navbar-line{
    height: 1px ;
    width: 100% ;
    border: 1px solid #EBEBEB ;
    margin-top: 30px ;
    position: relative ;
}

.Categories{
    height: 24px ;
    width: 100% ;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto, sans-serif ;
    font-size: 16px ;
    position: relative ;
    margin-top: 30px ;
}

.hero-section{
    width: 100% ;
    height: 686px ;
    padding: 70px 20px 70px 20px ;
    background-color: #F4F4F5;
}
.hero-section-container{
    width: 1350px ;
    height: 546px ;
    margin: 0 65px 0 65px ;
    display: flex ;
    justify-content: space-between;
}

.hero-section-container-text{
    height: 100% ;
    width: 60% ;
    font-family: Roboto, sans-serif ;
}

.hero-section-title{
    height: 129px ;
    width: 367.55px ;
    font-size: 74px ;
    display: flex;
    justify-content: center;
    font-weight: 300 ;
    padding-top: 74px ;
    line-height: 55px ;
}

.hero-section-container-text img{
    height: 100% ;
    width: auto ;
}

.hero-section-container-text img{
    height: 72px ;
    width: 223px ;
    margin-top: 73px ;
}

.hero-section-container-text p{
    font-family: Roboto, sans-serif ;
    font-size: 30px ;
    line-height: 55px ;
    margin-top: 67px ;
}
.hero-section-text{
    height: 110px ;
    width: 100% ;
    line-height: 55px ;
}
.owl-nav{ /*tắt thanh điều hướng đi*/
    display: none !important ;
}

.banner-of-brand{
    height: 80px ;
    width: 1350px ;
    margin: 60px 85px 0 85px ;
    padding: 5px 0 0 0 ;
    /* position: relative ; */
    /* align-items: center; */
    display: flex;
    /* justify-content: space-between; */
}

.banner-of-brand .item img{
    height: 100% ;
    width: auto ;
}

.hot-items-sections{
    height: auto ;
    width: 1377px ;
    margin: 0 72px 0 72px ;
    position: relative ;
    padding: 115px 0 115px 0 ;

}

.hot-items-sections-images{
    height: 656px ;
    width: 100% ;
    margin-bottom: 0 ;
    display: flex;
}

.hot-items-sections-text{
    font-family: Roboto, sans-serif ;
    width: 43.2px ;
    height: auto ;
    /* height: 648px ;
    display: flex ;
    transform: rotate(90deg);*/
    position: relative ;
    writing-mode: vertical-rl ;
    transform: rotate(180deg) scale(1,0.95) ;
    font-size: 36px ;
    white-space: nowrap ;
    display: flex ;
    text-transform: uppercase ;
}

.top-category-main{
    position: relative ;
    display: flex;
    align-items: flex-end;
    height: 647px ;
    width: 647px ;
}
.top-category-main img{
    height: 647px ;
    width: 647px ;
}

.banner-1{
    background-color: #1E2832;
    height: 40px ;
    width: 100% ;
    padding: 20px 20px 20px 20px ;
    position: absolute ;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    color: white ;
    font-family: "Open Sans", sans-serif ;
    display: none ;
    font-size: 16px;
}

.genre{
    height: 21.6px ;
    width: auto ;
}

.number{
    height: 21.6px ;
    width: auto ;
}

.top-category-main:hover .banner-1{
    display: block ;
    display: flex;
}

.top-category-right{
    height: 656px ;
    width: 648px ;
    display: flex ;
    margin-left: 25px ;
    background-color: white;
    flex-wrap: wrap ;
}

.top-category-right-item1:hover .banner-1{
    display: block ;
    display: flex ;
}

.top-category-right-item1{
    height: 312px ;
    width: 312px ;
    display: flex;
    align-items: flex-end;
    position: relative ;
    margin-right: 24px ;
}
.top-category-right-item1 .img{
    height: 312px ;
    width: 312px ;
}

.top-category-right-item3{
    height: 312px ;
    width: 312px ;
    display: flex;
    align-items: flex-end;
    position: relative ;
}

.top-category-right-item3 .img{
    height: 312px ;
    width: 312px ;
}

.top-category-right-item3:hover .banner-1{
    display: block ;
    display: flex ;
}

.top-category-right-item2{
    height: 312px ;
    width: 312px ;
    display: flex;
    align-items: flex-end;
    position: relative ;
    margin-right: 24px ;
    margin-top: 24px ;
}

.top-category-right-item2 .img{
    height: 312px ;
    width: 312px ;
}

.top-category-right-item2:hover .banner-1{
    display: block ;
    display: flex ;
}

.top-category-right-item4{
    height: 312px ;
    width: 312px ;
    display: flex;
    align-items: flex-end;
    position: relative ;
    margin-top: 24px ;
}

.top-category-right-item4 .img{
    height: 312px ;
    width: 312px ;
}

.top-category-right-item4:hover .banner-1{
    display: block ;
    display: flex ;
}

.product-view-template-section{
    width: 100% ;
    height: auto ;
    position: relative ;
}

.product-view-header{
    height: 100% ;
    width: 89.4% ;
    margin: auto ;
    position: relative;
    padding: 100px 0 100px 0 ;
}

.product-view-header h1{
    height: 53.6px ;
    font-size: 45px ;
    width: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif ;
    font-weight: 700 ;
    text-align: center;
    position: sticky ;
    transform: scale(0.9,0.9) ;
}

.product-view-header-detail{
    height: 66.6px ;
    width: 100% ;
    padding: 35px 0 0 0 ;
    display: flex ;
    align-items: flex-end;
    justify-content: space-between;
    position: sticky ;
}

.product-view-header-detail-genre{
    height: 21.6px ;
    width: 400px ;
    font-family: "Open Sans", sans-serif ;
    display: flex ;
    font-size: 16px ;
    list-style-type: none ;
    align-items: center;
    justify-content: space-between;
    font-weight: 600px ;
    word-spacing: 0px ;
}

.all-product{
    color: #000000  ;
    font-weight: 600 ;
    word-spacing: 0px;
    cursor: pointer ;
}
.general-product{
    color: #7F7F7F;
    cursor: pointer;
}
.product-view-header-detail-filter{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31.6px ;
    width: 87.5625px ;
    font-family: "Open Sans", sans-serif ;
    font-size: 16px ;
    color: #FFFFFF ;
}

.product-view-header-products{
    width: 100% ;
    height: 948.4px ;
    padding: 0 5px 0 5px ;
    margin-top: 33px ;
    display: flex ;
    flex-wrap: wrap ;
}

.banner-2{
    background-color: #000000;
    height: 40px ;
    width: 100% ;
    padding: 20px 20px 20px 20px ;
    position: absolute ;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    color: white ;
    font-family: "Open Sans", sans-serif ;
    display: none ;
    font-size: 16px;
}
.shop-now{
    height: 18px ;
    width: auto ;
    background-color: #000000;
    color: white ;
    border: none ;
    font-style: Arial, sans-serif ;
    font-size: 16px ;
    cursor: pointer;
}
.shop-now:hover{
    color: #FF6F61 ;
    transform: scale(1.1,1.1) ;
}
.product-detail{
    width: 100% ;
    height: 43.2px ;
    margin-top: 15px;
}
.product-name{
    font-family: "Open Sans", sans-serif ;
    font-size: 16px ;
    font-weight: 600 ;
    height: 21.6px ;
    width: 302px ;
    margin: auto ;
    text-transform: capitalize;
}
.genre-price{
    height: 21.6px ;
    width: 302px ;
    font-family: "Open Sans",sans-serif ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto ;
}
.product-genre{
    color: #7F7F90 ;
}
.product-price{
    font-weight: 600;
    display: flex ;
}

.product-function{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    height: 24px ;
    width: 58px ;
}
.product-function img{
    height: 24px !important ;
    width: 24px !important ;
}

.adicolor_classic_jogger{
    height: 459px ;
    width: 312px ;
    position: relative;
    margin-right: 30px ;
}

.adicolor_classic_jogger_image{
    display: flex ;
    align-items: flex-end;
    position: relative;
}
.adicolor_classic_jogger_image img{
    height: 400px ;
    width: 312px ;
}

.adicolor_classic_jogger:hover .banner-2{
    display: block ;
    display: flex ;
}

.nike-sportswear-future-luxe{
    height: 459px ;
    width: 312px ;
    position: relative;
    margin-right: 30px ;
}

.nike-sportswear-future-luxe-image{
    display: flex ;
    align-items: flex-end;
    position: relative;
}

.nike-sportswear-future-luxe-image img{
    height: 400px ;
    width: 312px ;
}

.nike-sportswear-future-luxe:hover .banner-2{
    display: block ;
    display: flex ;
}
.geometric-print-scarf{
    height: 459px ;
    width: 312px ;
    position: relative;
    margin-right: 30px ;
}

.geometric-print-scarf-image{
    display: flex ;
    align-items: flex-end;
    position: relative;
}

.geometric-print-scarf-image img{
    height: 400px ;
    width: 312px ;
}

.geometric-print-scarf:hover .banner-2{
    display: block ;
    display: flex ;
}

.original-price{
    color: #BFBFBF ;
    text-decoration: line-through;
    margin-right: 10px ;
    font-style: "Times New Roman";
    font-size: 15px ;
}
.yellow-reserved-hoodie{
    height: 459px ;
    width: 312px ;
    position: relative;
}

.yellow-reserved-hoodie-image{
    display: flex ;
    align-items: flex-end;
    position: relative;
}

.yellow-reserved-hoodie-image img{
    height: 400px ;
    width: 312px ;
}

.yellow-reserved-hoodie:hover .banner-2{
    display: block ;
    display: flex ;
}

.basic-dress-green{
    height: 459px ;
    width: 312px ;
    position: relative;
    margin-right: 30px ;
    margin-top: 25px ;
}

.basic-dress-green-image{
    display: flex ;
    align-items: flex-end;
    position: relative;
}

.basic-dress-green-image img{
    height: 400px ;
    width: 312px ;
}

.basic-dress-green:hover .banner-2{
    display: block ;
    display: flex ;
}
.nike-air-zoom-pegasus{
    height: 459px ;
    width: 312px ;
    position: relative;
    margin-right: 30px ;
    margin-top: 25px ;
}

.nike-air-zoom-pegasus-image{
    display: flex ;
    align-items: flex-end;
    position: relative;
}

.nike-air-zoom-pegasus-image img{
    height: 400px ;
    width: 312px ;
}

.nike-air-zoom-pegasus:hover .banner-2{
    display: block ;
    display: flex ;
}

.nike-repel-miler{
    height: 459px ;
    width: 312px ;
    position: relative;
    margin-right: 30px ;
    margin-top: 25px ;
}
.nike-repel-miler-image{
    display: flex ;
    align-items: flex-end;
    position: relative;
}
.nike-repel-miler-image img{
    height: 400px ;
    width: 312px ;
}
.nike-repel-miler:hover .banner-2{
    display: block ;
    display: flex ;
}

.futura-luxe-classic-jogger{
    height: 459px ;
    width: 312px ;
    position: relative;
    margin-top: 25px ;
}
.futura-luxe-classic-jogger-image{
    display: flex ;
    align-items: flex-end;
    position: relative;
}
.futura-luxe-classic-jogger-image img{
    height: 400px ;
    width: 312px ;
}
.futura-luxe-classic-jogger:hover .banner-2{
    display: block ;
    display: flex ;
}

.brand-banner-section{
    width: 100% ;
    height: 775px ;
    margin-top: 50px ;
    position: relative ;
    object-fit: cover;
    background-image: url(/Kiem_tra_cuoi_khoa/assets/images/zara_red_dress.webp);
    transform: scaleX(-1);
    /* padding: 30% 15% 30% 15% ; */
    /* display: flex ;
    justify-content: center;
    align-items: center; */
}

.brand-banner-section-text{
    width: 88.8% ;
    height: 50% ;
    position: absolute ;
    margin: auto ;
    margin-top: 193px ;
    margin-left: 85px ;
}

.zara-container{
    height: 100% ;
    width: 37% ;
    display: flex ;
    position: absolute ;
    justify-content: left;
    transform: scaleX(-1);
}

.zara-container img{
    width: 38% ;
    height: 20.6% ;
    position: absolute ;
}

.zara-text{
    width: 100% ;
    height: 31% ;
    position: absolute ;
    font-family: Roboto, sans-serif ;
    color: white ;
    font-size: 23px ;
    margin-top: 150px ;
    line-height: 40px ;
}

.see-collection{
    font-family: Roboto, sans-serif ;
    font-size: 28px ;
    height: auto ;
    width: auto ;
    position: absolute ;
    padding: 20px 26px 20px 26px ;
    margin-top: 312px ;
    border: none ;
}

.zara-logo-1{
    position: absolute ;
    transform: scaleX(-1);
    height: 243px ;
    width: 532px ;
    margin-top: 40px;
}

.zara-logo-1 img{
    height: 100% ;
    width: 100% ;
}

.bestseller-items{
    margin: auto ;
    height: 695px ;
    width: 88.1% ;
    padding: 20px 20px 20px 20px ;
    position: relative ;
}

.bestseller-items-headline{
    margin-top: 50px ;
    width: 100% ;
    height: 120px ;
    display: flex ;
    justify-content: center;
}

.bestseller-items-headline h1{
    font-family: Roboto, sans-serif ;
    font-size: 45px ;
    font-weight: 700 ;
    position: absolute ;
}

.bestseller-items-headline-function-bar{
    position: absolute ;
    margin-top: 90px ;
    height: 30px ;
    width: 97%;
    display: flex ;
    justify-content: space-between;
    align-items: center;
}

.bestseller-items-genres{
    height: 68.3% ;
    width: 30.2% ;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", sans-serif ;
    font-size: 16px ;
    font-weight: 600 ;
}

.bestseller-items-genres-detail{
    color: #8B9BA0 ;
    cursor: pointer ;
}
.bestseller-items-genres-all{
    cursor:pointer ;
}

.bestseller-items-genres-detail:hover{
    color: #FF6F61 ;
}
.bestseller-items-genres-all:hover{
    color: #FF6F61 ;
}

.bestseller-items-show-all{
    font-family: "Open Sans", sans-serif ;
    font-size: 16px ;
    height: 100% ;
    width: auto ;
    padding: 5px 15px 5px 15px ;
    color: white ;
    background-color: black ;
    cursor: pointer ;
}

.bestseller-items-show-all:hover{
    transform: scale(1.1,1.1) ;
    background-color: #FF6F61;
}

.banner-3{
    width: 100%  ; 
    height: 10% ;
    background-color: #1E2832;
    color: white ;
    padding: 20px 20px 20px 20px ;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", sans-serif ;
    font-size: 16px ;
    display: none ;
    position: absolute ;
}

.reaction{
    display: flex ;
    justify-content: space-between;
    align-items: center;
}
.reaction img{
    height: 16px !important;
    width: auto !important;
    margin-right: 5px !important;
    cursor: pointer !important;
}
.product-description{
    width: 100% ;
    height: 21.6px ;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px ;
}
.best-detail{
    font-family: "Open Sans", sans-serif ;
    font-size: 16px ;
}
.product-tag{
    padding-left: 10px ;
    font-weight: 600 ;
}
.genre-product{
    color: #A5A5A5 ;
}
.price-product{
    color: #FF6F61 ;
    font-weight: 600 ;
    width: auto ;
    display: flex ;

}

.shop-now-best:hover{
    color: #FF6F52 ;
    transform: scale(1.1,1.1);
    cursor: pointer ;
}

/* .bestseller-items-scroll{
    width: 100% ;
    height: auto ;
    position: relative ;
    margin-top: 20px ;
    padding-top: 0 ;
    display: flex ;
} */

/* .bestseller-items-scroll .item{
    height: 100% ;
    width: auto ;
} */

.bestseller-items-scroll .item{
    height: 100% ;
    width: 312px ;
    margin-top: 40px ;
    position: absolute;
    margin-right: 30px ;
}

.adicolor-classic-jogger-best{
    height: 100% ;
    width: 100% ;
    position: relative;
    /* margin-right: 30px ; */
}
.adicolor-classic-jogger-best-image{
    display: flex ;
    align-items: flex-end;
    position: relative;
    width: 100% ;
    height: 87% ;
}
.adicolor-classic-jogger-best-image img{
    width: 100% ;
    height: auto ;
}
.adicolor-classic-jogger-best:hover .banner-3{
    display: block ;
    display: flex ;
}


.nike-sportswear-future-luxe-best{
    height: 100% ;
    width: 100% ;
    position: relative;
    /* margin-right: 30px ; */
}
.nike-sportswear-future-luxe-best-image{
    display: flex ;
    align-items: flex-end;
    position: relative;
    width: 100% ;
    height: 87.14% ;
}
.nike-sportswear-future-luxe-best-image img{
    width: 100% ;
    height: auto ;
}
.nike-sportswear-future-luxe-best:hover .banner-3{
    display: block ;
    display: flex ;
}


.geometric-print-scarf-best{
    height: 459px ;
    width: 312px ;
    position: relative;
    /* margin-right: 30px ; */
}
.geometric-print-scarf-best-image{
    display: flex ;
    align-items: flex-end;
    position: relative;
    width: 100% ;
    height: 87.14% ;
}
.geometric-print-scarf-best-image img{
    width: 100% ;
    height: auto ;
}
.geometric-print-scarf-best:hover .banner-3{
    display: block ;
    display: flex ;
}


.basic-dress-green-best{
    height: 459px ;
    width: 312px ;
    position: relative;
    /* margin-right: 30px ; */
}
.basic-dress-green-best-image{
    display: flex ;
    align-items: flex-end;
    position: relative;
    width: 100% ;
    height: 87.14% ;
}
.basic-dress-green-best-image img{
    width: 100% ;
    height: auto ;
}
.basic-dress-green-best:hover .banner-3{
    display: block ;
    display: flex ;
}


.yellow-reserved-hoodie-best{
    height: 459px ;
    width: 312px ;
    position: relative;
    /* margin-right: 30px ; */
}
.yellow-reserved-hoodie-best-image{
    display: flex ;
    align-items: flex-end;
    position: relative;
    width: 100% ;
    height: 87.14% ;
}
.yellow-reserved-hoodie-best-image img{
    width: 100% ;
    height: auto ;
}
.yellow-reserved-hoodie-best:hover .banner-3{
    display: block ;
    display: flex ;
}


.nike-air-zoom-pegasus-best{
    height: 459px ;
    width: 312px ;
    position: relative;
    /* margin-right: 30px ; */
}
.nike-air-zoom-pegasus-best-image{
    display: flex ;
    align-items: flex-end;
    position: relative;
    width: 100% ;
    height: 87.14% ;
}
.nike-air-zoom-pegasus-best-image img{
    width: 100% ;
    height: auto ;
}
.nike-air-zoom-pegasus-best:hover .banner-3{
    display: block ;
    display: flex ;
}


.nike-repel-miler-best{
    height: 459px ;
    width: 312px ;
    position: relative;
    /* margin-right: 30px ; */
}
.nike-repel-miler-best-image{
    display: flex ;
    align-items: flex-end;
    position: relative;
    width: 100% ;
    height: 87.14% ;
}
.nike-repel-miler-best-image img{
    width: 100% ;
    height: auto ;
}
.nike-repel-miler-best:hover .banner-3{
    display: block ;
    display: flex ;
}


.futura-luxe-classic-jogger-best{
    height: 459px ;
    width: 312px ;
     position: relative;
    /* margin-right: 30px ; */
}
.futura-luxe-classic-jogger-best-image{
    display: flex ;
    align-items: flex-end;
    position: relative;
    width: 100% ;
    height: 87.14% ;
}
.futura-luxe-classic-jogger-best-image img{
    width: 100% ;
    height: auto ;
}
.futura-luxe-classic-jogger-best:hover .banner-3{
    display: block ;
    display: flex ;
}


.follow-instagram{
    width: 100% ;
    height: 842px ;
    padding: 100px 10px 100px 10px ;
    background-color: white  ;   
    position: relative ;
    /* display: flex;
    justify-content: center; */
}

.follow-instagram-container{
    width: 100% ;
    height: 100% ;
    background-color: #F4F4F5 ;
    position: relative ;
    display: flex ;
    justify-content: center ;
    padding: 100px 10px 100px 10px ;
}

.follow-instagram h1{
    width: 100% ;
    height: 59px ;
    font-family: Roboto, sans-serif ;
    position: absolute ;
    font-size: 50px ;
    line-height: 100% ;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.follow-instagram-image{
    width: 100% ;
    height: 200px ;
    display: flex;
    justify-content: space-between;
    position: absolute ;
    margin-top: 90px ;
    padding: 0 100px 0 100px ;
}

.follow-instagram-image img{
    height: 100% ;
    width: auto ;
}

.follow-instagram h2{
    font-family: Roboto, sans-serif ;
    width: 100% ;
    height: 59px ;
    font-size: 50px ;
    line-height: 59px ;
    font-weight: 550 ;
    color: black ;
    position: absolute ;
    display: flex ;
    justify-content: center;
    align-items: center;
    margin-top: 320px;
    transform: scale(1,1) ;
    text-shadow: rgba(0,0,0,0.25) 0px 4px 4px ;
}

.email-subscribe{
    width: 100% ;
    height: 34px ;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 400px;
}

.email-subscribe .enter-email{
    height: 100% ;
    width: 643px ;
    padding: 0 0 10px 15px ;
    font-family: Arial, sans-serif ;
    font-size: 18px ;
    font-weight: 200 ;
    border: none ;
    background-color: #F4F4F5;
    border-bottom: 2px solid black ;
    margin-right: 20px; 
}

.submit-email{
    font-family: "Open Sans", sans-serif ;
    font-size: 16px ;
    display: flex ;
    text-align: center ;
    justify-content: center;
    height: 100% ;
    width: 88.45px;
    padding: 0 15px 11px 15px ;
    background-color: #F4F4F5;
    border: none ;
    border-bottom: 2px solid black ;
    color: #1E2832 ;
    cursor: pointer;
    text-transform: uppercase;
}

.page-ending{
    width: 100% ;
    height: 432px ;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative ;
}

.page-ending-container{
    width: 75% ;
    height: 188px;
    position: relative ;
    display: flex ;
}

.company-info{
    height: 100% ;
    width: 34.2% ;
    display: flex ;
    position: relative;
    justify-content: left;
    margin-right: 40px ;
}

.company-logo{
    height: 18% ;
    width: auto ;
    position: absolute;
}
.company-logo img{
    height: 100% ;
    width: auto ;
}

.company-description{
    width: 100% ;
    height: 34.4% ;
    font-family: "Open Sans", sans-serif ;
    font-size: 16px ;
    display: flex ;
    justify-content: left ;
    color: gray ;
    position: absolute ;   
    flex-wrap: wrap;
    margin-top: 60px;
}
.company-social-pages{
    width: 40% ;
    height: 13.3% ;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    position: absolute;
    margin-top: 160px ;
}

.company-social-pages img{
    height: 100% ;
    width: auto ;
}

.catalog-list{
    height: 100% ;
    width: 17.54% ;
    font-size: 16px ;
    font-family: "Open Sans", sans-serif ;
    font-weight: 600 ;
    margin-right: 40px ;
}

.catalog-link-container{
    width: 100% ;
    height: 77% ;
    margin-top: 25px ;
    list-style-type: none ;
}

.catalog-link-container li{
    width: 100% ;
    height: 16.6% ;
    font-size: 14px ;
    line-height: 24px ;
    color: #1E2832 ;
    font-weight: 400;
    margin-bottom: 5px ;
    cursor: pointer ;
}

.catalog-link-container li:hover{
    color: #FF746B ;
}

.about-us{
    height: 100% ;
    width: 17.54% ;
    font-size: 16px ;
    font-family: "Open Sans", sans-serif ;
    font-weight: 600 ;
    margin-right: 40px ;
}

.about-us-container{
    width: 100% ;
    height: 77% ;
    margin-top: 25px ;
    list-style-type: none ;
}

.about-us-container li{
    width: 100% ;
    height: 16.6% ;
    font-size: 14px ;
    line-height: 24px ;
    color: #1E2832 ;
    font-weight: 400;
    margin-bottom: 5px ;
    cursor: pointer ;
}

.about-us-container li:hover{
    color: #FF746B ;
}

.customer-service{
    height: 100% ;
    width: 17.54% ;
    font-size: 16px ;
    font-family: "Open Sans", sans-serif ;
    font-weight: 600 ;
    margin-right: 40px ;
}

.customer-service-container{
    width: 100% ;
    height: 77% ;
    margin-top: 25px ;
    list-style-type: none ;
}

.customer-service-container li{
    width: 100% ;
    height: 16.6% ;
    font-size: 14px ;
    line-height: 24px ;
    color: #1E2832 ;
    font-weight: 400;
    margin-bottom: 5px ;
    cursor: pointer ;
}

.customer-service-container li:hover{
    color: #FF746B ;
}

.footnote{
    width: 100% ;
    height: 44px ;
    background-color: #1E2832 ;
    display: flex ;
    justify-content: center;
}

.footnote-content{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    color: #F8FCFF ;
    font-family: "Open Sans", sans-serif ;
    font-size: 16px ;
    height: 100% ;
    width: 1200px ;
    padding: 10px ;
}

.scroll-to-top{
    color: #FEFEFE ;
    height: 100% ;
    width: auto ;
    cursor: pointer ;
    display: flex ;
    align-items: center;
    justify-content: center;
}

.scroll-to-top p{
    margin-right: 5px ;
}

.scroll-to-top:hover{
    color: #F14A3A ;
}

